<div *ngIf="channel; else noChannel" class="container p-3">
    <h5> {{ channel.name }} <small class="text-muted"><br> Channel Description...</small></h5>
    <div *ngIf="channel.messages.length > 0; else noMessages">
        <div *ngFor="let message of channel.messages" class="card mb-1">
            <div class="card-body d-flex">
                <img [src]="getUserAvatar(message.userId)" class="rounded-circle me-2" style="width:32px;height:32px;">
                <div>
                    <div class="fw-bold"> {{ getUsername(message.userId) }} </div>
                    <div> {{ message.content }} </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #noMessages>
        <div class="text-muted p-3"> No messages... </div>
    </ng-template>
    
</div>

<ng-template #noChannel>
    <div class="text-muted p-3"> No Channel selected </div>
</ng-template>