<div class="p-3 d-flex flex-column h-100">
    <!--Channel Info-->
    <div class="mb-3 border-bottom pb-2">
        <h5> {{ currentChannel.name || 'No Channel' }} </h5>
    </div>

    <!--Members List-->
    <div *ngIf="currentChannel()" class="flex-grow-1 overflow-auto">
        <div class="d-flex align-items-center mb-4">
            <h6 class="flex-grow-1 m-2">Users</h6>
        </div>
        
        <ul class="list-unstyled">
            <li *ngFor="let user of users()">
                <div class="d-flex align-items-center mb-2">
                    <img [src]="user.avatar || 'assets/default-avatar.png'" class="rounded-circle me-2" style="width:24px;height:24px;">
                    <span class="flex-grow-1"> {{ user.username }} </span>
                </div>
            </li>
        </ul>
    </div>
</div>
