<div class="p-3 d-flex flex-column h-100">
    <!--Channel Info-->
    <div class="mb-3 border-bottom pb-2">
        <h5> {{ channel?.name || 'No Channel' }} </h5>
    </div>

    <!--Members List-->
    <div *ngIf="channel" class="flex-grow-1 overflow-auto">
        <div class="d-flex align-items-center mb-4">
            <h6 class="flex-grow-1 m-2">Users</h6>
            <button *ngIf="isGroupAdmin()" class="btn btn-sm btn-outline-success" (click)="addToChannel()">Add User</button>
        </div>
        
        <ul class="list-unstyled">
            <li *ngFor="let memberId of channel?.members">
                <div class="d-flex align-items-center mb-2">
                    <img [src]="getUserAvatar(memberId)" class="rounded-circle me-2" style="width:24px;height:24px;">
                    <span class="flex-grow-1"> {{ getUsername(memberId) }} </span>
                    <!--Group Admin Remove Icon-->
                    <div class="ms-auto" *ngIf="isGroupAdmin()" (click)="removeUser(memberId)"> ⛔ </div>
                </div>
            </li>
            
        </ul>
    </div>
</div>
