* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

app-navbar {
    flex-shrink: 0;
}

.main-content {
    flex: 1;
    display: flex;
    overflow: hidden;
    min-width: 0;   /* important for flex children */
}

app-chat {
    flex: 1;
    min-width: 0;
}

app-details {
    flex-shrink: 0;
}

.navbar {
    width: 20em;
    border-right: 1px solid var(--border);
    flex-shrink: 0;
}

.main-view {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}