<div class="container">
    <!--input boxes-->
    <div class="formgroup">
        <label class="form-label" for="email">Email Address</label>
        <input type="email" id="email" name="email" class="form-control"
        [value]="email()" (input)="email.set($any($event.target).value)">
    </div>
    <div class="form-group">
        <label class="form-label" for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" 
        [value]="password()" (input)="password.set($any($event.target).value)">
    </div>
    
    <!--conditional error message-->
    <div *ngIf="errorMsg()" class="alert alert-danger"> {{ errorMsg() }} </div>
    <div class="form-group">
        <button type="submit" (click)="login($event)" class="btn btn-primary">Submit</button>
    </div>
</div>