<div class="container">
  <div class="form-group">
    <label class="form-label" for="email">Email address</label>
    <input type="email" [(ngModel)]="email" id="email" name="email" class="form-control">
  </div>
  <div class="form-group">
    <label class="form-label" for="pwd">Password</label>
    <input type="password" [(ngModel)]="pwd" id="pwd" name="pwd" class="form-control">
  </div>

  <!-- display errors if they occur -->
  <div *ngIf="errormsg" class="alert alert-danger"> {{ errormsg }}</div>
  <div class="form-group">
    <!--Generates an event on click (we remove default @'login.ts')-->
    <button type="submit" (click)="login($event)" class="btn btn-primary">Submit</button>
  </div>
</div>
